

nav, ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005FB8;
    color: #fff;
    padding-inline: 30px;
    padding-block: 10px;
}

ul {
    gap: 30px;
}